
@{
    ViewData["Title"] = "Country Details";
}
@TempData["Name"] = @ViewBag.cName;

@model Country
<h3>@ViewBag.cName</h3>
<p><b>Language:</b> @Model.Language</p>
<p><b>Greeting:</b> @Model.Greeting</p>
<p>
    <b>National Colors:</b>
    <ul>
        @foreach (var color in Model.NationalColors)
        {
            <li>@color</li>
        }
    </ul>
</p>

<a asp-action="CountryDescription" asp-controller="Countries">
    <button>Learn more about this country</button>
</a>